.emby-button{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-align-items:center;
    align-items:center;
    border:0;
    border-radius:.2em;
    box-sizing:border-box;
    color:inherit;
    cursor:pointer;
    display:-webkit-inline-flex;
    display:inline-flex;
    font-family:inherit;
    font-size:inherit;
    font-weight:600;
    line-height:1.35;
    margin:.3em;
    outline:none!important;
    outline-width:0;
    padding:.9em 1em;
    position:relative;
    text-align:center;
    text-decoration:none;
    -webkit-transform-origin:center;
    transform-origin:center;
    transition:.2s;
    -ms-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    vertical-align:middle;
    z-index:0
}
.emby-button.show-focus:focus{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    z-index:1
}
.emby-button::-moz-focus-inner{
    border:0
}
.button-flat,.button-link{
    background:transparent
}
.button-link{
    cursor:pointer;
    margin:0;
    padding:0;
    vertical-align:baseline;
    vertical-align:initial
}
.button-link:hover{
    text-decoration:underline
}
.emby-button>.material-icons{
    font-size:1.36em
}
.button-link>.material-icons{
    font-size:1em
}
.fab{
    border-radius:50%;
    box-sizing:border-box;
    display:-webkit-inline-flex;
    display:inline-flex;
    padding:.6em;
    text-align:center
}
.emby-button.block,.fab{
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    justify-content:center
}
.emby-button.block{
    display:block;
    margin:.25em 0;
    width:100%
}
.paper-icon-button-light{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-align-items:center;
    align-items:center;
    background:transparent;
    border:0;
    border-radius:50%;
    box-sizing:border-box;
    color:inherit;
    cursor:pointer;
    display:-webkit-inline-flex;
    display:inline-flex;
    font-family:inherit;
    font-size:inherit;
    height:auto;
    -webkit-justify-content:center;
    justify-content:center;
    margin:0 .29em;
    min-height:0;
    min-height:auto;
    min-width:0;
    min-width:auto;
    outline:none!important;
    overflow:hidden;
    padding:.556em;
    position:relative;
    text-align:center;
    -webkit-transform-origin:center;
    transform-origin:center;
    transition:.2s;
    -ms-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    vertical-align:middle;
    width:auto;
    z-index:0
}
.paper-icon-button-light.show-focus:focus{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    z-index:1
}
.paper-icon-button-light::-moz-focus-inner{
    border:0
}
.paper-icon-button-light:disabled{
    cursor:default;
    opacity:.3
}
.paper-icon-button-light>.material-icons{
    font-size:1.6695652174em;
    position:relative;
    vertical-align:middle;
    z-index:1
}
.paper-icon-button-light>div{
    display:inline;
    margin:0 auto;
    max-height:100%;
    position:relative;
    -webkit-transform:scale(1.8);
    transform:scale(1.8);
    vertical-align:middle;
    z-index:1
}
.emby-button-foreground{
    position:relative;
    z-index:1
}
.btnFilterWithBubble{
    position:relative
}
.filterButtonBubble{
    -webkit-align-items:center;
    align-items:center;
    background:#03a9f4;
    border-radius:100em;
    box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    color:#fff;
    display:-webkit-flex;
    display:flex;
    font-size:82%;
    font-weight:700;
    height:1.6em;
    -webkit-justify-content:center;
    justify-content:center;
    position:absolute;
    right:0;
    top:0;
    width:1.6em;
    z-index:100000000
}
